<header class="headerall">
    <nav class="navbar navbar-expand-xl ">
  	<div class="container-xl">
		<a class="navbar-brand" href="#"><img src="asset/images/logo.svg"></a>
		<div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item dropdown active">
					<a class="nav-link" data-bs-toggle="dropdown" href="">Home <i class="fa fa-angle-down"></i></a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#">Magazine</a></li>
						<li><a class="dropdown-item" href="#">Personal</a></li>
						<li><a class="dropdown-item" href="#">Personal Alt</a></li>
						<li><a class="dropdown-item" href="#">Minimal</a></li>
						<li><a class="dropdown-item" href="#">Classic</a></li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Lifestyle</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Inspiration</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link " data-bs-toggle="dropdown" href="#">Pages <i class="fa fa-angle-down"></i></a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#">Magazine</a></li>
						<li><a class="dropdown-item" href="#">Personal</a></li>
						<li><a class="dropdown-item" href="#">Personal Alt</a></li>
						<li><a class="dropdown-item" href="#">Minimal</a></li>
						<li><a class="dropdown-item" href="#">Classic</a></li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Contact</a>
				</li>
			</ul>
		</div>
			
		<div class="header-right">
			<div class="header-buttons">
				<button class="btnn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
					<i class="fa fa-search"></i>
				</button>
				<button class="btnn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
					<i class="fa fa-bars"></i>
				</button>

				
				<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-fullscreen">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								
								<div class="search-content">
									<div class="text-center">
										<h3 class="mb-4 mt-0">Press ESC to close</h3>
									</div>
									<!-- form -->
									<form class="d-flex search-form">
										<input class="form-control me-2" type="search" placeholder="Search and press enter ..." aria-label="Search">
										<button class="btn btn-default btn-lg" type="submit"><i class="fa fa-search"></i></button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
    </div>
</nav>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
	<div class="offcanvas-header">
		<h5 id="offcanvasRightLabel"><img src="asset/images/logo.svg"></h5>
		<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
		<div class="offcanvas-body">
			<nav>
				<ul class="vertical-menu">
					<li class="nav-item dropdown active">
					<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="">Home</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#">Magazine</a></li>
						<li><a class="dropdown-item" href="#">Personal</a></li>
						<li><a class="dropdown-item" href="#">Personal Alt</a></li>
						<li><a class="dropdown-item" href="#">Minimal</a></li>
						<li><a class="dropdown-item" href="#">Classic</a></li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Lifestyle</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Inspiration</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Pages</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#">Magazine</a></li>
						<li><a class="dropdown-item" href="#">Personal</a></li>
						<li><a class="dropdown-item" href="#">Personal Alt</a></li>
						<li><a class="dropdown-item" href="#">Minimal</a></li>
						<li><a class="dropdown-item" href="#">Classic</a></li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Contact</a>
				</li>
				</ul>
			</nav>
		</div>
    </div>
</header>
