{% extends "layouts/default.twig" %}

{% block page %}
    <div class="wrapper">


        <div id="content">
            <div class="content-main-wrapper">
                <div class="container-fluid">
                    <div class="content-main">
                        <!-- ============ Content ========== -->
{#                        {% include 'partials/categorymanagement.twig' %}#}
						<h3>
							1. Explore Topics Component
						</h3>
						{% include 'Components/explore.twig'%}
                        <!-- ============ Content Ends Here ========== -->
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
