<div class="content">
	<div class="explore">
		<h3>Explore Topics</h3>
		<div class="list-content">
			<ul id="dropdown" class="list-style">
				<li>
					<img src="../asset/images/right-arroww.svg" class="explore-icon">
					<a href="#">Lifestyle</a>
					<span class="explore-number">(5)</span>
				</li>
				<li>
					<img src="../asset/images/right-arroww.svg" class="explore-icon">
					<a href="#">Inspiration</a>
					<span class="explore-number">(2)</span>
				</li>
				<li>
					<img src="../asset/images/right-arroww.svg" class="explore-icon">
					<a href="#">Fashion</a>
					<span class="explore-number">(4)</span>
				</li>
				<li>
					<img src="../asset/images/right-arroww.svg" class="explore-icon">
					<a href="#">Politic</a>
					<span class="explore-number">(1)</span>
				</li>
				<li>
					<img src="../asset/images/right-arroww.svg" class="explore-icon">
					<a href="#">Trending</a>
					<span class="explore-number">(7)</span>
				</li>
				<li>
					<img src="../asset/images/right-arroww.svg" class="explore-icon">
					<a href="#">Culture</a>
					<span class="explore-number">(3)</span>
				</li>
			</ul>
		</div>
	</div>
</div>
