
$fullVPWidth: 100vw;
$fullVPHeight: 100vh;

// font variables
$font-poppins: 'Poppins', sans-serif;
$font-family-base: $font-poppins;

// font variables
$font-family-roboto-regular: 'Roboto-Regular';
$font-family-roboto-light: 'Roboto-Light';
$font-family-poppins-medium: 'Poppins-Medium';
$font-family-poppins-semibold: 'Poppins-SemiBold';
