.headerall {
    padding: 40px 0;
    position: relative;
    width: 100%;

    .navbar-nav {
    margin-left: 50px;
  }
  
  .navbar-nav {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }

  .navbar-nav li.active .nav-link {
    color: #FFF;
    border-radius: 25px;
    background: linear-gradient(to right, #FE4F70 0%, #FFA387 100%);
  }
  .dropdown-menu li:after {
    content: "";
    background: #EBEBEB;
    display: block;
    height: 1px;
    width: 100%;
  }
  .dropdown-menu li:last-child:after {
    content: "";
    display: none;
  }
  
  .dropdown-item {
    width: 100%;
    padding: 0.6rem 1.5rem;
    color: #79889e;
  }
  .dropdown-item:hover {
    margin-left: 5px;
  }
  
  .dropdown-item:focus, .dropdown-item:hover {
    color: #FE4F70;
    background-color: transparent;
  }
  
  .header-right{
    .social-icons {
        display: inline-block;
    }

    .header-buttons {
      display: inline-block;
      margin-left: 50px;

      .btnn {
        margin-left: 10px;
        border: none;
        border-radius: 50px;
        background: linear-gradient(to right, #FE4F70 0%, #FFA387 100%);
        
        i{
          padding: .6rem;
        }
      }
    }

    .modal-header{
      border-bottom: none;
    }

    .search-content{
      padding-top: 15%;
      padding-left: 32%;
      padding-right: 32%;

      input{
        border-radius: 25px;
      }

      button{
        margin-left: 10px;
        border-radius: 25px;
        background: linear-gradient(to right, #FE4F70 0%, #FFA387 100%);

        i{
          padding-left: 12px;
          padding-right: 12px;
        }
      }
    }
  } 
}